*.pyc
*.pyo
app.db
.env
frontend/node_modules/
frontend/public/
frontend/src/
package-lock.json
package.json
nutfaenv/
myenv/
db.sqlite3
.vercel
newenv\
newenv
testenv\
testenv
db.json
.vscode\
.vscode
**/*.db
db.json
spinup.py
.coverage
__pycache__/