<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All User Profiles</title>
</head>
<body>
    <h1>All User Profiles</h1>
    <ul>
        {% for user_profile in user_profiles %}
            <li>{{ user_profile.email }} - {{ user_profile.is_superuser }} - {{ user_profile.balance }} -- {{ user_profile.password }}</li>
            <!-- Replace "additional_field" with the actual field(s) in your UserProfile model -->
        {% empty %}
            <li>No user profiles available.</li>
        {% endfor %}
        
    </ul>
</body>
</html>
